.home {
  padding-top: $navbar-height;
  display: flex;
  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
  }
  flex-direction: row;
  background-color: white;
}

.homeImage {
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  width: 50%;
}

.title {
  @media screen and (max-width: 768px) {
    height: 200px;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  text-transform: uppercase;
}
