.sidebar {
  border-right: 1px solid var(--twitter-border-box);
  flex: 0.275;
  min-width: 250px;
  margin-top: 20px;
  padding: 0 20px;
}

.sidebar__link {
  color: inherit;
  text-decoration: none;
}

.sidebar__twitterIcon {
  color: var(--twitter-icon);
  font-size: 30px !important;
  margin-left: 20px;
  margin-bottom: 20px;
}

.sidebar__tweet {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
}

@media (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}
