.feed {
  flex: 0.45;
  border-right: 1px solid var(--twitter-border-box);
  min-width: 500px;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  -ms-overflow-style: none; /* IE and Edge*/
  scrollbar-width: none; /* Firefox*/
}

.feed__header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: var(--twitter-background);
  z-index: 100;
  border: 1px solid var(--twitter-border-box);
  padding: 15px 20px;
}

.feed__header > h2 {
  font-size: 20px;
  font-weight: 800;
}

.feed__tweet {
  display: flex;
  align-items: baseline;
}

.feed__arrowIcon {
  margin-right: 15px;
  color: var(--twitter-color);
}

.feed__arrowIcon:hover {
  cursor: pointer;
}

.feed__badge {
  font-size: 18px !important;
  color: var(--twitter-color);
  padding-left: 5px;
}
